@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*

*/

:root {
    --cor0: #131111;
    --cor1: #6E6565;
    --cor2: #0E0742;
    --cor3: #FFFFFF;
    --cor4: #4D0074;
    --background: rgba(255, 255, 255, .1);
    --background2: rgba(255, 255, 255, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor0);
    background-image: url(img/movies.jpg);
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--background2);
}

.nome {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor3);
    font-size: 50px;
    text-decoration: none;
}

.barra a {
    color: var(--cor3);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-left: 35px;
    text-decoration: none;
    transition: 500ms;
}

.barra a:hover {
    color: var(--cor2);
}

.cart i {
    font-size: 36px;
    color: var(--cor3);
    transition: 120ms;
}

.cart i:hover {
    color: var(--cor2);
}

.titulo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.titulo-descricao {
    color: var(--cor3);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: var(--cor0);
    padding: 2%;
}

.container {
    text-align: center;
    padding: 50px;
}

.image-container {
    display: inline-block;
    border: 12px;
    padding: 10px;
    background: linear-gradient(var(--cor0), var(--cor2));
}

.secoes {
    display: flex;
    justify-content: space-between;
    margin: 150px;
}

.secoes a {
    background: var(--cor0);
    padding: 1%;
    border-radius: 15%;
    color: var(--cor3);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    text-decoration: none;
}

.mashup {
    text-align: center;
    border: 1px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 1%;
    color: var(--cor3);
    background: var(--cor0);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    margin-top: 3%;
}

.dispositivos ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    color: var(--cor3);
    margin: 150px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 36px;
    list-style: none;
}

.dispositivos li {
    background: linear-gradient(var(--cor2), var(--cor0));
    padding: 10px;
    border-radius: 10px;
    
}

.zenio {
    text-align: center;
    padding: 50px;
}

.zenio-container {
    display: inline-block;
    border: 1px;
    padding: 24px;
    background: linear-gradient(var(--cor0), var(--cor2));
    border-radius: 1%;
}


.assine {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 5%;
    text-align: center;
}

.assine a {
    display: inline-block; 
    padding: 15px; 
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    color: var(--cor3);
    background: linear-gradient(var(--cor2),var(--cor0));
    text-decoration: none;
    box-sizing: border-box; 
    border-radius: 3%;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.box {
    background: linear-gradient(var(--cor2), var(--cor4)); 
    width: 390px;
    height: 600px;
    border-radius: 5%;

}


.box h1 {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10%;
}

.box li {
    margin-top: 10%;
    list-style: none;
    text-align: center;
    color: var(--cor3);
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    text-decoration: none;
}

.button span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--background), var(--background2));
    width: 200px;
    height: 50px;
    border-radius: 15%;
    color: var(--cor2);
    font-family: "Poppins", sans-serif;
    transition: color 1s; 
}

.button span:hover {
    color: var(--cor3);
}


footer {
    background: var(--cor0);
    width: 100%;
    padding: 15px;
    margin-top: 10%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: var(--cor3);
    text-align: center;
}
